.entry {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
  height: 100vh;
}

.entry__play-btn {
  border-radius: 10px;
  width: 250px;
  padding: 5px;
}
