.profile {
  text-align: center;
  margin: 0;
  text-align: center;
  background-color: rgb(213, 208, 208, 0.25);
  max-width: 800px;
  position: relative;
  left: 320px;
  top: 125px;
  border-radius: 10px;
  width: 800px;
  height: 400px;
}

.profile__btn {
  border: none;
  background: none;
  margin-right: 125px;
  width: 50px;
  height: 50px;
  font-size: 30px;
}

.profile__logout-btn {
  margin-top: 100px;
  font-size: 10px;
  text-align: center;
  width: 70px;
  height: 30px;
}

.profile__info-email {
  margin-top: 60px;
}
