.page {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif; /* Add this line */
  background-image: url("https://images.unsplash.com/photo-1485579149621-3123dd979885?q=80&w=3131&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover; /* Ensure the image covers the entire viewport */
  background-position: center; /* Position the image in the center */
  background-attachment: fixed; /* Make the background fixed while scrolling */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 100vh;
  overflow: hidden;
}

.page__reset-btn {
  border-radius: 20px;
  width: 200px;
  height: 70px;
  position: absolute;
  left: 80px;
  top: 500px;
}

@media (max-width: 320px) {
  .page {
    padding: 0px 5px;
  }
}
