.quiz {
  margin: 0;
  text-align: center;
  background-color: rgb(213, 208, 208, 0.25);
  max-width: 800px;
  position: relative;
  left: 320px;
  top: 125px;
  border-radius: 10px;
  width: 800px;
  height: 400px;
  backdrop-filter: blur(25px);

  /* Animation */
  /*   opacity: 0; */
  transform: scale(0.95);
  transition: opacity 0.8s ease-in-out;
}

.quiz__visible {
  opacity: 1;
  transform: scale(1);
}

.quiz__header {
  margin: 0;
}

.quiz__reset-btn {
  width: 25px;
  height: 25px;
  position: relative;
  top: 330px;
}

.quiz__options {
  list-style-type: none;
}
