.quiz {
  margin: 0;
  text-align: center;
  background-color: rgb(213, 208, 208, 0.25);
  max-width: 800px;
  position: relative;
  left: 320px;
  top: 125px;
  border-radius: 10px;
  width: 800px;
  height: 400px;
  backdrop-filter: blur(25px);

  /* Animation */
  /*   opacity: 0; */
  transform: scale(0.95);
  transition: opacity 0.8s ease-in-out;
}

.quiz__visible {
  opacity: 1;
  /*   transform: scale(1); */
}

.quiz__header {
  margin: 0;
}

.quiz__reset-btn {
  width: 55px;
  height: 25px;
  position: relative;
  margin-top: 85px;
}

.quiz__options {
  margin: 10px -10px;
  /* margin-top: 40px; */
  list-style-type: none;
  /*  margin-left: -85px;  */
}

.quiz__options li {
  margin-bottom: 15px;
  margin-left: 270px;
  display: flex;
  align-items: center;
}
