@font-face {
  font-family: "Roboto Condensed";
  src: url("/src/assets/fonts/Roboto_Condensed/static/RobotoCondensed-Italic.ttf")
    format("truetype");
  font-style: italic;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}
